<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinyterm1.helloworld">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeSinBarra">
        <activity android:name=".Activities.LoginActivity"
            android:label="Clarity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Activities.ReporteActivity" />
        <activity android:name=".Activities.SplashAcivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Receiver.GeoLocationAlarmReceiver"
            android:process=":remote" />

        <activity
            android:name=".Activities.PrincipalActivity"
            android:label="Clarity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".Activities.ConfiguracionActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7313a8fa2ce76153ceff348a461c82673440d9cc"
            />
    </application>
</manifest>